// List of variations :
$thin: "Thin", 100, normal;
$thinItalic: "ThinItalic", 100, italic;
$extraLight: "ExtraLight", 200, normal;
$extraLightItalic: "ExtraLightItalic", 200, italic;
$light: "Light", 300, normal;
$lightItalic: "LightItalic", 300, italic;
$regular: "Regular", 400, normal;
$italic: "Italic", 400, italic;
$medium: "Medium", 500, normal;
$mediumItalic: "MediumItalic", 500, italic;
$semiBold: "SemiBold", 600, normal;
$semiBoldItalic: "SemiBoldItalic", 600, italic;
$bold: "Bold", 700, normal;
$boldItalic: "BoldItalic", 700, italic;
$extraBold: "ExtraBold", 800, normal;
$extraBoldItalic: "ExtraBoldItalic", 800, italic;
$black: "Black", 900, normal;
$blackItalic: "BlackItalic", 900, italic;
$variable: "VariableFont_wght", 100 900, normal;
$variableItalic: "Italic-VariableFont_wght", 100 900, italic;

// Mixin Font'O'matic
@mixin font-face($fontName, $fontType...) {
  @each $i in $fontType {
    @font-face {
      font-family: $fontName;
      src: url("../fonts/#{$fontName}/#{$fontName}-#{nth($i, 1)}.ttf")
        format("truetype");
      font-weight: nth($i, 2);
      font-style: nth($i, 3);
    }
  }
}

// Declare your fonts below
// Example: @include font-face("Roboto", $regular, $italic, $bold);